<template>
    <button @click="accionEstado({estado, numero: 10})">
        {{textoBoton}}
    </button>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    props: {
        estado: Boolean
    },
    computed: {
        textoBoton() {
            return this.estado ? 'Aumento' : 'Disminuyo'
        }
    },
    methods: {
        ...mapActions(['accionEstado'])
    }
}
</script>