<template>
    <button @click="redContador(2)">Disminuir*2</button>
</template>

<script>
    import { mapActions } from 'vuex'
export default {
    name: 'btn-disminuir',
    methods: {
        ...mapActions(['redContador'])
    }
}
</script>