<template>
  <div class="hello">
    <h1 :style="colorContador">{{titulo}}{{contador}}</h1>
    <button @click="redContador(5)">Reducir</button> |
    <BtnDisminuir/> |
    <BotonAccion :estado="true"/> |
    <BotonAccion :estado="false"/>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import BtnDisminuir from './BtnDisminuir'
import BotonAccion from './BotonAccion'
export default {
  name: 'HelloWorld',
  components: {
    BtnDisminuir,
    BotonAccion
  },
  data() {
    return {
      titulo: 'El recuento es de: '
    }
  },
  methods: {
    ...mapActions(['redContador'])
  },
  computed: {
    ...mapState(['contador']),
    colorContador() {
      return [this.contador > 10 ? {'color': 'green'} : {'color': 'red'}]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
